body{
    margin-left:0%;
}
.h3style{
  color:#393e46;
  background-color:lightgrey;
}
.labelstyle{
  color:#738598;
}
.formstyle{
  margin-left:-10%;
  width:110%;
}
.buttonstyle{
  margin-left:75%;
  background-color:#e83e6c;
  border: transparent;
}
.cardstyle{
  margin-top: 10%;
}
.istyle{
  color:lightgrey;
}
.submitstyle{
  border:transparent;
  margin-left:5%;
  /* width:15%; */
}
